.flutter-plugins
.flutter-plugins-dependencies
flutter_01.png
flutter_02.png
flutter_03.png
flutter_04.png
lib.zip
pubspec.lock
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.idea/misc.xml
.idea/modules.xml
.idea/Prizm.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
android/darkmode_android.iml
android/gradlew
android/gradlew.bat
android/hs_err_pid38836.log
android/hs_err_pid47340.log
android/key.properties
android/local.properties
android/replay_pid38836.log
android/replay_pid47340.log
android/.gradle/file-system.probe
android/.gradle/7.4/gc.properties
android/.gradle/7.4/checksums/checksums.lock
android/.gradle/7.4/checksums/md5-checksums.bin
android/.gradle/7.4/checksums/sha1-checksums.bin
android/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
android/.gradle/7.4/dependencies-accessors/gc.properties
android/.gradle/7.4/executionHistory/executionHistory.bin
android/.gradle/7.4/executionHistory/executionHistory.lock
android/.gradle/7.4/fileChanges/last-build.bin
android/.gradle/7.4/fileHashes/fileHashes.bin
android/.gradle/7.4/fileHashes/fileHashes.lock
android/.gradle/7.4/fileHashes/resourceHashesCache.bin
android/.gradle/7.5.1/gc.properties
android/.gradle/7.5.1/checksums/checksums.lock
android/.gradle/7.5.1/checksums/md5-checksums.bin
android/.gradle/7.5.1/checksums/sha1-checksums.bin
android/.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
android/.gradle/7.5.1/dependencies-accessors/gc.properties
android/.gradle/7.5.1/executionHistory/executionHistory.bin
android/.gradle/7.5.1/executionHistory/executionHistory.lock
android/.gradle/7.5.1/fileChanges/last-build.bin
android/.gradle/7.5.1/fileHashes/fileHashes.bin
android/.gradle/7.5.1/fileHashes/fileHashes.lock
android/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/vcs-1/gc.properties
android/.idea/.gitignore
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/vcs.xml
android/.idea/modules/android.iml
android/app/google-services.json
android/app/key.jks
android/app/proguard-rules.pro
android/app/.cxx/Debug/1z54a5z4/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/1z54a5z4/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/1z54a5z4/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/1z54a5z4/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/2w3r3471/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/2w3r3471/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/2w3r3471/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/2w3r3471/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4f6l2845/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4f6l2845/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4f6l2845/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4f6l2845/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4n66v4k3/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4n66v4k3/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4n66v4k3/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4n66v4k3/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4vs6zgo3/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4vs6zgo3/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4vs6zgo3/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/4vs6zgo3/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/v3t5f634/arm64-v8a/.cmake/api/v1/reply/cache-v2-6c9b896bb0080f4e4821.json
android/app/.cxx/Debug/v3t5f634/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-5be3df0f13ed45040782.json
android/app/.cxx/Debug/v3t5f634/arm64-v8a/.cmake/api/v1/reply/index-2023-08-22T01-29-08-0583.json
android/app/.cxx/Debug/v3t5f634/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/v3t5f634/armeabi-v7a/.cmake/api/v1/reply/cache-v2-24b39186d6cbda36b7a8.json
android/app/.cxx/Debug/v3t5f634/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-e43c37ba824ad0969d95.json
android/app/.cxx/Debug/v3t5f634/armeabi-v7a/.cmake/api/v1/reply/index-2023-08-22T01-29-11-0420.json
android/app/.cxx/Debug/v3t5f634/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/v3t5f634/x86_64/.cmake/api/v1/reply/cache-v2-a9a83e6513d904b870ac.json
android/app/.cxx/Debug/v3t5f634/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-536b3567cb67988d2166.json
android/app/.cxx/Debug/v3t5f634/x86_64/.cmake/api/v1/reply/index-2023-08-22T01-29-15-0493.json
android/app/.cxx/Debug/v3t5f634/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/Debug/v3t5f634/x86/.cmake/api/v1/reply/cache-v2-e0aaa9d4289a8d634aec.json
android/app/.cxx/Debug/v3t5f634/x86/.cmake/api/v1/reply/cmakeFiles-v1-ba2dd7ba45d7097e2797.json
android/app/.cxx/Debug/v3t5f634/x86/.cmake/api/v1/reply/index-2023-08-22T01-29-13-0482.json
android/app/.cxx/Debug/v3t5f634/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/4v4d1zn6/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/4v4d1zn6/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/4v4d1zn6/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/4v4d1zn6/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5141v4s3/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5141v4s3/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5141v4s3/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5141v4s3/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5i5u3s72/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5i5u3s72/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5i5u3s72/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/5i5u3s72/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/6b5i6r16/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/6b5i6r16/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/6b5i6r16/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/6b5i6r16/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/kh4d3u3e/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/kh4d3u3e/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/kh4d3u3e/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/kh4d3u3e/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/n4w6g5q6/arm64-v8a/.cmake/api/v1/reply/cache-v2-62843028914869addb07.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-90f57128ac1baa77e1f7.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/arm64-v8a/.cmake/api/v1/reply/index-2023-08-22T01-31-32-0687.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/n4w6g5q6/armeabi-v7a/.cmake/api/v1/reply/cache-v2-bd89dbc2815dd558b553.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-6fdb98ff7d5847d6c7b3.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/armeabi-v7a/.cmake/api/v1/reply/index-2023-08-22T01-31-35-0600.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86_64/.cmake/api/v1/reply/cache-v2-70ec9e6aea7753db9622.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-c858ffde968f03d2d564.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86_64/.cmake/api/v1/reply/index-2023-08-22T01-31-38-0509.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86/.cmake/api/v1/reply/cache-v2-7f2130f30e829a94ffe0.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86/.cmake/api/v1/reply/cmakeFiles-v1-af6545a03566818114db.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86/.cmake/api/v1/reply/index-2023-08-22T01-31-37-0103.json
android/app/.cxx/RelWithDebInfo/n4w6g5q6/x86/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/s4x2331g/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/s4x2331g/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/s4x2331g/x86_64/CMakeFiles/CMakeOutput.log
android/app/.cxx/RelWithDebInfo/s4x2331g/x86/CMakeFiles/CMakeOutput.log
android/app/src/debug/AndroidManifest.xml
android/app/src/debug/google-services.json
android/app/src/main/AndroidManifest.xml
android/app/src/main/java/com/oneidlab/prizm/MainActivity.java
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/app/src/main/res/drawable/background.png
android/app/src/main/res/drawable/launch_background.xml
android/app/src/main/res/drawable-hdpi/splash.png
android/app/src/main/res/drawable-mdpi/splash.png
android/app/src/main/res/drawable-night/background.png
android/app/src/main/res/drawable-night/launch_background.xml
android/app/src/main/res/drawable-night-hdpi/splash.png
android/app/src/main/res/drawable-night-mdpi/splash.png
android/app/src/main/res/drawable-night-v21/background.png
android/app/src/main/res/drawable-night-v21/launch_background.xml
android/app/src/main/res/drawable-night-xhdpi/splash.png
android/app/src/main/res/drawable-night-xxhdpi/splash.png
android/app/src/main/res/drawable-night-xxxhdpi/splash.png
android/app/src/main/res/drawable-v21/background.png
android/app/src/main/res/drawable-v21/ic_launcher.xml
android/app/src/main/res/drawable-v21/ic_launcher_round.xml
android/app/src/main/res/drawable-v21/launch_background.xml
android/app/src/main/res/drawable-xhdpi/splash.png
android/app/src/main/res/drawable-xxhdpi/splash.png
android/app/src/main/res/drawable-xxxhdpi/splash.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
android/app/src/main/res/values/styles.xml
android/app/src/main/res/values-night/styles.xml
android/app/src/main/res/xml/network_security_config.xml
android/app/src/profile/AndroidManifest.xml
android/gradle/wrapper/gradle-wrapper.jar
build/last_build_run.json
firebase/firebase-tools-instant-win.exe
