.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.idea/misc.xml
.idea/modules.xml
.idea/Prizm.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
android/darkmode_android.iml
android/gradlew
android/gradlew.bat
.dart_tool/flutter_build/*
build/*
android/hs_err_pid38836.log
android/hs_err_pid47340.log
android/key.properties
android/local.properties
android/replay_pid38836.log
android/replay_pid47340.log
android/.gradle/file-system.probe
android/.gradle/7.4/gc.properties
android/.gradle/7.4/checksums/checksums.lock
android/.gradle/7.4/checksums/md5-checksums.bin
android/.gradle/7.4/checksums/sha1-checksums.bin
android/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
android/.gradle/7.4/dependencies-accessors/gc.properties
android/.gradle/7.4/executionHistory/executionHistory.bin
android/.gradle/7.4/executionHistory/executionHistory.lock
android/.gradle/7.4/fileChanges/last-build.bin
android/.gradle/7.4/fileHashes/fileHashes.bin
android/.gradle/7.4/fileHashes/fileHashes.lock
android/.gradle/7.4/fileHashes/resourceHashesCache.bin
android/.gradle/7.5.1/gc.properties
android/.gradle/7.5.1/checksums/checksums.lock
android/.gradle/7.5.1/checksums/md5-checksums.bin
android/.gradle/7.5.1/checksums/sha1-checksums.bin
android/.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
android/.gradle/7.5.1/dependencies-accessors/gc.properties
android/.gradle/7.5.1/executionHistory/executionHistory.bin
android/.gradle/7.5.1/executionHistory/executionHistory.lock
android/.gradle/7.5.1/fileChanges/last-build.bin
android/.gradle/7.5.1/fileHashes/fileHashes.bin
android/.gradle/7.5.1/fileHashes/fileHashes.lock
android/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/vcs-1/gc.properties
android/.idea/.gitignore
android/.idea/*
android/.idea/modules/android.iml
android/app/google-services.json
android/app/key.jks
android/app/proguard-rules.pro
android/app/.cxx/Debug/*
android/app/.cxx/RelWithDebInfo/*
android/app/src/debug/google-services.json
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/app/src/main/res/*
android/gradle/wrapper/gradle-wrapper.jar
build/last_build_run.json
firebase/firebase-tools-instant-win.exe
